@{
    ViewBag.Title = "Personnel Records";
}
<div class="row">
    <div class="input-group">
        <div class="custom-file">
            <input type="file" accept=".csv" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
            <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
        </div>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
        </div>
    </div>
    <div style="margin:50px auto">
        <table id="personnelRecords" class="display" cellspacing="0" data-page-length='5'>
            <thead>
                <tr>
                    <th>Payroll number</th>
                    <th>Forenames</th>
                    <th>Surname</th>
                    <th>Date of Birth</th>
                    <th>Telephone</th>
                    <th>Mobile</th>
                    <th>Address</th>
                    <th>Address 2</th>
                    <th>Postcode</th>
                    <th>Email home</th>
                    <th>Start date</th>
                </tr>
            </thead>
        </table>
    </div>
</div>